{% extends "layout.html" %}
{% block title %}Quinn{% endblock %}

{% block content %}
<main>
  <div class="main-content">
    <p>
      Quinn offers simple, smart skincare solutions for men.  Today's digital world requires men to put their best face forward in virtual meetings, conferences, and video calls.  First impressions are vital; Quinn helps working professionals to look their best with easy-to-follow product and routine recommendations.
    </p>
    <p>
      Simply answer a few questions about your skin and receive an easy-to-understand routine recommendation, including men's products tailored specifically to address the unique needs of your skin.
    </p>
    <div class="spacer"></div>
    <button>Take the survey</button>
  </div>
</main>
{% endblock %}
