{% extends "layout.html" %}
{% block title %}Quinn{% endblock %}

{% block content %}
<main>
  <div class="recommend-content">
    <h2>Recommended for you</h2>
    <p>
      We have curated this collection of skincare products to meet your skin's unique needs.  Browse the products below, and click the provided links to view more detailed information or make a purchase. Click the 'Home' button at the bottom of the page if you would like to go back to the or take our survey again.
    </p>
    <p>Thank you for allowing Quinn to assist you in pursuing a healthier skincare routine!</p>
    <div class="display-recommendations">
      <div class="display-recommendations-category">
        <h3>Recommended</h3>
        <ul>
          <li>
            <h4>{{product}}</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            <p>Price: $XX.XX</p>
            <a href="#">View on the web</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="spacer"></div>
    <a href="/"><button>Home</button></a>
  </div>
</main>
{% endblock %}
