{% extends "layout.html" %}
{% block title %}Quinn{% endblock %}

{% block content %}
<main>
  <div class="recommend-content">
    <h2>Recommended for you</h2>
    <p>
      We have curated this collection of skincare products to meet your skin's unique needs.  Browse the products below, and click the provided links to view more detailed information or make a purchase. Click the 'Home' button at the bottom of the page if you would like to go back to the or take our survey again.
    </p>
    <p>Thank you for allowing Quinn to assist you in pursuing a healthier skincare routine!</p>
    <div class="display-recommendations">
      <h3>Cleanser</h3>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
      <h3>Moisturizer</h3>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
      <h3>Toner</h3>
      <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
      </ul>
    </div>
    <div class="spacer"></div>
    <a href="/"><button>Home</button></a>
  </div>
</main>
{% endblock %}
